@model System.Collections.Generic.List<Amenhokit.Models.ViewModel.PlayerScore>

@{
    ViewBag.Title = "title";
}

@Scripts.Render("~/bundles/d3")
<link href="~/Content/tipsy.css" rel="stylesheet" />
<style>
    /* set the CSS */
    body {
        font: 12px Arial;
    }

    path {
        stroke: steelblue;
        stroke-width: 2;
        fill: none;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: grey;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }

    .legend {
        padding: 5px;
        font: 10px sans-serif;
        border: 1px solid;
        border-color: #888;
        box-shadow: 2px 2px 1px #888;
    }
    .graph {
        background: #fff;
        border: 1px solid;
        border-color: #000;
        margin: 10px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class='content'>
                <!-- /the chart goes here -->
            </div>
        </div>
    </div>
</div>

<script>
    var modelData = @Html.Raw(Json.Encode(Model));
</script>


<script src="~/Scripts/d3/jquery.tipsy.js"></script>
<script src="~/Scripts/graph/scatterchart.js"></script>
<script src="~/Scripts/graph/main.js"></script>


@foreach (var m in Model)
{
    <span>@m.Date</span><span>@m.Player.Name</span><span>@m.TotalScore</span><br />
}


